<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <body>


    <ul id="itemHolder">
      <li><a class="active logo" href="#">Blank Canvas</a></li>
      <li><a href="viewPost.html" id="viewPost"class="right">Make a post</a></li>
      <li><a href="#"  class="right">View posts</a></li>
    </ul>


    <h1 id="welcomeText"> We are the beautiful creators of Blank Canvas </h1>

<div id="hatsParent">
    <img class="hats" src="https://media.giphy.com/media/1pnye1n5EWWHTu93Ly/giphy.gif" alt="">
    <img class="hats" id="isaHat" src="https://media.giphy.com/media/1pnye1n5EWWHTu93Ly/giphy.gif" alt="">
    <img class="hats" src="https://media.giphy.com/media/1pnye1n5EWWHTu93Ly/giphy.gif" alt="">
</div>
    <div id="allPhotos">
    <div class="w3-container photos">
      <div class="w3-card-4 cards" id="elvisCard">
        <img class="realImages" src="../static/images/elvis.jpeg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <div class="backOfName">
          <p>Elvis <br> Vasquez</p>
        </div>
        </div>
      </div>
    </div>

    <div class="w3-container photos">
      <div class="w3-card-4 cards" id="isabellaCard">
        <img class="realImages" src="../static/images/isa.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <div class="backOfName">
          <p>Isabella <br> Graham</p>
        </div>
        </div>
      </div>
    </div>

    <div class="w3-container photos">
      <div class="w3-card-4 cards" id="tyCard">
        <img class="realImages" src="../static/images/ty.jpeg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <div class="backOfName">
          <p>Tyler <br> Young</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
