<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div id="allPhotos">
    <div class="w3-container photos">
      <div class="w3-card-4" style="width:50%">
        <img src="../static/images/kh.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p>Elvis Vasquez</p>
        </div>
      </div>
    </div>

    <div class="w3-container photos">
      <div class="w3-card-4" style="width:50%">
        <img src="../static/images/kh.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p>Isabella Graham</p>
        </div>
      </div>
    </div>

    <div class="w3-container photos">
      <div class="w3-card-4" style="width:50%">
        <img src="../static/images/kh.jpg" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p>Tyler Young</p>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
