<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title> Blank Canvas</title>
  </head>
  <body>
      <h1 id="brandName"> Blank Canvas</h1>
      <h1 id="welcomeText"> Welcome </h1>

      <div id="buttonsDiv">
        <form class="homeButtons topButtons" id="makeButton" action="NewPost">
            <input type="submit" value="Make a new post" />
        </form>
        <button class="homeButtons topButtons" id="viewButton" type="button" name="button">View Posts</button>
        <button class="homeButtons" id="aboutButton" type="button" name="button">About Creators</button>
      </div>

      
  </body>
</html>
