<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bllank Canvas | Make a Post</title>
  </head>
  <body>


    <h2> Make a new post </h2>
    <form method="post" action="/View">
      <label>
          Enter your artist name:
          <input type="text" name="artist" value="" placeholder="Type here...">
      <label>
      <br>

      <label>
          Enter the title of your work:
          <input type="text" name="title" value="" placeholder="Type here...">
      </label>
      <br>

      <label>
          Enter your poem:
          <input type="text" name="poem" value="" placeholder="Type here...">
      </label>
      <br>

      <button type="submit"> Post your artwork </button>

    </form>



  </body>
</html>
