<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bllank Canvas | Make a Post</title>
    <link rel="stylesheet" href="../static/css/makePost.css">
  </head>
  <body>

    <div id="newBody">
      <h1 id="introText"> Make a new post </h1>
      <div id="contens">
        <form method="SavePost" action="/view">
          <label>
              <h2 class="boxTexts">Enter your artist name:<h2>
              <input id="nameBox"type="text" name="artist" value="" size="80" placeholder="Type here...">
          </label>
          <br>

          <label>
              <h2 class="boxTexts">Enter the title of your work:</h2>
              <input id="titleBox"type="text" name="title" value="" size="80" placeholder="Type here...">
          </label>
          <br>

          <label>
              <h2 class="boxTexts">Enter your poem:</h2>
              <!-- <input id="contentBox" type="text" name="poem" value="" size="91" placeholder="Type here..."> -->
              <textarea name="artist" rows="8" cols="80"></textarea>
          </label>
          <br>

          <button type="submit"> Post your artwork </button>

        </form>
      </div>
    </div>


  </body>
</html>
