<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bllank Canvas | Make a Post</title>
    <link rel="stylesheet" href="../static/css/makePost.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Hover-master/css/hover.css">

  </head>
  <body>


    <ul id="itemHolder">
      <li><a class="active logo" href="/">Blank Canvas</a></li>
      <li><a href="/View" id="viewPost"class="right">View posts</a></li>
      <li><a href="/AboutUs"  class="right">About Us</a></li>
    </ul>




    <div id="newBody">
      <div id="dancingImages">
        <img class="spiderMan" src="https://media3.giphy.com/media/WGkhN8KKOC4tW/source.gif" alt="">
        <img class="spiderMan" src="https://media1.giphy.com/media/3o7WIv3SKpo2ub6XEA/giphy.gif" alt="">
        <img class="spiderMan" src="https://yokoent.com/images/gif-png-dancing-11.gif" alt="">
        <img class="spiderMan" src="https://i.gifer.com/6mx.gif" alt="">
        <img class="spiderMan" src="https://media2.giphy.com/media/VxFrlqO1mVzmE/giphy.gif" alt="">
        <img class="spiderMan" src="https://funsubstance.com/uploads/gif/215/215926.gif" alt="">
        <img class="spiderMan" src="https://data.whicdn.com/images/192061270/original.gif" alt="">
        <img class="spiderMan" src="https://media.giphy.com/media/OkyhewNelwSXe/giphy.gif" alt="">
        <img class="spiderMan" src="https://media1.giphy.com/media/BetLyuCzghyww/200w.gif" alt="">
        <img class="spiderMan" src="https://media.giphy.com/media/fvOKZ1hETl5L2/giphy.gif" alt="">
        <img class="spiderMan" src="https://media.giphy.com/media/yqMtk0TfjRa5W/giphy.gif" alt="">
        <img class="spiderMan" src="https://newvitruvian.com/images/transparent-postit-animated-4.gif" alt="">
        <img class="spiderMan" src="https://i.imgur.com/HQw8qAH.gif" alt="">
        <img class="spiderMan" src="https://i.4pcdn.org/s4s/1535133842874.gif" alt="">
        <img class="spiderMan" src="http://www.clipartroo.com/images/2/animated-happy-dance-clipart-2215.94" alt="">
        <img class="spiderMan" src="https://media.giphy.com/media/sLHJLY3In07Kg/giphy.gif" alt="">
      </div>



      <h1 id="introText"> Make a new post </h1>
      <div id="contens">
        <form method="post" action="/MakePost">
          <label>
              <h2 class="boxTexts">Enter your artist name:<h2>
              <input id="nameBox"type="text" name="artist" value="" size="80" placeholder="Type here...">
          </label>
          <br>

          <label>
              <h2 class="boxTexts">Enter a title: </h2>
              <input id="titleBox"type="text" name="title" value="" size="80" placeholder="Type here...">
          </label>
          <br>

          <label>
              <h2 class="boxTexts">Enter your poem:</h2>
              <textarea name="poem" rows="8" cols="80"></textarea>
          </label>
          <br>

          <button id="submitButton" type="submit"> Post your artwork </button>

        </form>
      </div>
    </div>


  </body>
</html>
