<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/viewPost.css">
  </head>
  <body>
    {% for new_post in all_posts %}
    <div id="parentContent">
      <div id="contents">

        <div id="actualText">
          <div id="top">
            <h1 id="title">{{new_post.title}}</h1>
            <p id="voteCount"> <3 {{new_post.vote_count}}</p>
          </div>
            <h4 id="artistName">By: {{new_post.artist}}</h4>
            <p id="poem">{{new_post.poem}}</p>
        </div>


        <div id="commentDiv">
          <h3 id ="comment">Feedback: </h3>
          {% for comment in new_post.comments %}
          <p> {{comment}} </p>
          {% endfor %}
        </div>


<!-- <div>
</div> -->
            <form method="post" action="/View">

              <label>
                  <h3>Give some feedback!:</h3>
                  <input type="hidden" name="postKey" value="{{ new_post.key.urlsafe()  }}" />
                  <textarea name="comment" rows="2" cols="127"></textarea>
              </label>

              <br>
              <!-- The comment button : -->
              <button id="commentButton" class="button" type="submit"> Post your comment </button>
              <!-- The deletion button : -->
              <button id="deleteButton" class="button" type="submit"> Delete Post </button>
              <button class="vote button" name="upvote" value="upvote_value" id="upvote">&#8679;</button>
              <input id="nameBox" type="text" name="hidden" value="{{new_post.key.id()}}" size="80">
              <button class="vote button">&#8681;</button>
            </form>
      </div>
    </div>
    {% endfor%}

<script src="../static/js/main.js"></script>

  </body>

</html>
