body{
  background-image: url(../images/kh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px black;
}
#brandName{
  font-size: 60px;
}
#welcomeText{
  text-align: center;
  margin-bottom: 200px;
  margin-top: 150px;
  font-size: 60px;
}
#buttonsDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeButtons{
  padding: 30px 40px;
  border: 1px solid black;
  margin: 30px;
  background-image: url(../images/buttonBackgroundMain.jpg);
  background-size: cover;
  color: white;
  font-size: 30px;
}

.topButtons{
  display: inline;
}

#aboutButton{
  display: block;

}
