body{
  background-image: url("../images/mainPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#newBody{
  background-color: coral;
  padding: 100px;
  margin: 60px;
  border: 1px solid red;
  border-radius: 20px;
  opacity: 0.93;
}
#contens{
  display: flex;
  justify-content: center;
}
#introText{
  font-size: 50px;
  text-align: center;
}
.boxTexts{
  font-size: 30px;
}

#contentBox{
  height: 30px;
}
#nameBox{
  height: 30px;
}
#titleBox{
  height: 30px;
}
#submitButton{
  padding: 20px 30px;
  border: 6px solid black;
  background-image: url(https://flipwallpapers.com/wallpapers/red-wallpaper-full-hd-On-Tumblr-Wallpaper.jpg);
  border-radius: 50px;
  background-size: cover;
  color: white;
  font-size: 30px;
  opacity: 0.96;
}
